@import url('variables.css');

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-family: var(--font-family), monospace;
	font-weight: var(--font-weight-normal);

	@apply text-primary;
	@apply text-sm;
	@apply md:text-base;

	min-width: 320px;
	min-height: 100dvh;

	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@apply duration-200;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
