@import url('variables.css');
@import 'tailwindcss';

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: var(--font-family), monospace;
	font-weight: var(--font-weight-normal);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	margin: 0;
	min-width: 320px;
	min-height: 100dvh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
