@import url('App.css');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@utility scrollbar-hidden {
	&::-webkit-scrollbar {
		display: none;
	}
}

@utility scrollbar-hidden {
	&::-webkit-scrollbar {
		display: none;
	}
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-background-hover: var(--background-hover);
	--color-background-active: var(--background-active);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
}

body {
	@apply inset-0 min-h-dvh;
}

:root {
	--radius: 0.625rem;
	--background: oklch(85.5% 0 89.876deg);
	--background-hover: oklch(82.3% 0 89.876deg);
	--background-active: oklch(79.2% 0 89.876deg);
	--foreground: oklch(29.7% 0.002 247.903deg);
	--card: oklch(100% 0 0deg);
	--card-foreground: oklch(14.5% 0 0deg);
	--popover: oklch(15.8% 0.002 196.987deg / 20%);
	--popover-foreground: oklch(14.5% 0 0deg);
	--primary: oklch(92.2% 0 0deg);
	--primary-foreground: oklch(20.5% 0 0deg);
	--secondary: oklch(94% 0 89.876deg);
	--secondary-foreground: oklch(20.5% 0 0deg);
	--muted: oklch(15.8% 0.002 196.987deg / 10%);
	--muted-foreground: oklch(15.8% 0.002 196.987deg / 50%);
	--accent: oklch(71.7% 0.16 65.344deg);
	--accent-foreground: oklch(98.5% 0 0deg);
	--accent-hover: oklch(75.2% 0.174 64.552deg);
	--accent-active: oklch(73.2% 0.174 64.552deg);
	--destructive: oklch(58.6% 0.181 24.653deg);
	--border: oklch(92.2% 0 0deg);
	--input: oklch(92.2% 0 0deg);
	--ring: oklch(70.8% 0 0deg);
}

.dark {
	--background: oklch(22.5% 0 89.876deg);
	--background-hover: oklch(25% 0 89.876deg);
	--background-active: oklch(27% 0 89.876deg);
	--foreground: oklch(100% 0 89.876deg);
	--card: oklch(20.5% 0 0deg);
	--card-foreground: oklch(98.5% 0 0deg);
	--popover: oklch(100% 0 89.876deg / 10%);
	--popover-foreground: oklch(98.5% 0 0deg);
	--primary: oklch(22.6% 0 89.876deg);
	--primary-foreground: oklch(98.5% 0 0deg);
	--primary-hover: oklch(26.9% 0 89.876deg);
	--primary-active: oklch(30.9% 0 89.876deg);
	--secondary: oklch(17.8% 0 89.876deg);
	--secondary-foreground: oklch(98.5% 0 0deg);
	--muted: oklch(26.9% 0 0deg);
	--muted-foreground: oklch(100% 0 89.876deg / 40%);
	--accent: oklch(77.2% 0.174 64.552deg);
	--accent-foreground: oklch(100% 0 89.876deg);
	--accent-hover: oklch(69.7% 0.16 65.344deg);
	--accent-active: oklch(67.7% 0.16 65.344deg);
	--destructive: oklch(62.4% 0.192 24.94deg);
	--border: oklch(100% 0 0deg / 10%);
	--input: oklch(100% 0 0deg / 15%);
	--ring: oklch(55.6% 0 0deg);
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	.button-icon svg {
		@apply aspect-square h-7 w-7 md:h-7 md:w-7;
	}

	.header-logo svg {
		@apply aspect-square h-8 w-8;
	}
}
